
img {
    max-width: 50rem;
    margin: 1.9rem;
}

.example {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.example_list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 3rem;
}

.explanation {
    display: flex;
    flex-direction: column;
    gap: 5px;
}